<% layout('layouts/boilerplate')%>

<div class="row">
   
   <h1 class="text-center">Atualizar Cadastro</h1>
   
   <div class="col-6 offset-3">
      
      <form action = "/cadastros/<%= cadastro._id %>?_method=PUT" method = "POST">
         
         <% if (message) { %>
            <%= message.body %> 
        <% } %> 

         <!-- cadastroNome -->
         <div class="mb-3">
            <label class="form-label" for="cadastroNome">Nome:</label>
            <input
               class="form-control <%= errors.cadastroNome ? 'is-invalid' : '' %>" 
               type="text"
               id="cadastroNome"
               name="cadastro[cadastroNome]"
               value="<%= formData.cadastroNome ? formData.cadastroNome: cadastro.cadastroNome %>"
            >
            <% if (errors.cadastroNome) { %>
               <div class="invalid-feedback">
                   <%= errors.cadastroNome[0] %>
               </div> 
           <% } %> 
         </div>

         <!-- cadastroCpf -->
         <div class="mb-3">
            <label class="form-label" for="cadastroCpf">CPF:</label>
            <input
               class="form-control <%= errors.cadastroCpf ? 'is-invalid' : '' %>" 
               type="text"
               id="cadastroCpf"
               name="cadastro[cadastroCpf]"
               value="<%= formData.cadastroCpf ? formData.cadastroCpf: cadastro.cadastroCpf %>"
            >
            <% if (errors.cadastroCpf) { %>
               <div class="invalid-feedback">
                   <%= errors.cadastroCpf[0] %>
               </div> 
            <% } %> 
         </div>

         <!-- cadastroEmail -->
         <div class="mb-3">
            <label class="form-label" for="cadastroEmail">Email:</label>
            <input
               class="form-control <%= errors.cadastroEmail ? 'is-invalid' : '' %>" 
               type="text"
               id="cadastroEmail"
               name="cadastro[cadastroEmail]"
               value="<%= formData.cadastroEmail ? formData.cadastroEmail: cadastro.cadastroEmail %>"
            >
            <% if (errors.cadastroEmail) { %>
               <div class="invalid-feedback">
                   <%= errors.cadastroEmail[0] %>
               </div> 
            <% } %> 
         </div>

         <!-- cadastroCelular -->
         <div class="mb-3">
            <label class="form-label" for="cadastroCelular">Celular:</label>
            <input
               class="form-control <%= errors.cadastroCelular ? 'is-invalid' : '' %>"  
               type="text"
               id="cadastroCelular"
               name="cadastro[cadastroCelular]"
               value="<%= formData.cadastroCelular ? formData.cadastroCelular: cadastro.cadastroCelular %>"
            >
            <% if (errors.cadastroCelular) { %>
               <div class="invalid-feedback">
                   <%= errors.cadastroCelular[0] %>
               </div> 
            <% } %>  
         </div>        

         <!-- Botão Enviar -->          
          <div class="mb-3">
            <button class="btn btn-success">Enviar</button>
        </div> 

      </form> 
   </div>
</div>